.content {
  margin-bottom: 40px;
}

.flex {
  margin: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}

.flex p {
  margin: 0px;
  max-width: 1000px;
  text-align: center;
}

.flex img {
  height: 220px;
  border-style: double;
  border-width: 8px;
  border-color: #57eba3;
}

.flex h2 {
  margin: 0px;
  padding: 0px;
}

p a {
  color: #402fbd;
}